.calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 70px repeat(5, 100px);

  width: 350px;
  height: 70%;
  border-radius: 20px;
  border: 2px solid#78716c;

  background-color: #f1f5f9;

  margin: auto;
  padding: 20px;
  gap: 15px;
}

.display-screen {
  grid-column: 1/5;
  width: 95%;
  height: 90%;
  resize: none;

  border-radius: 20px;

  align-self: center;
  justify-self: center;
  background-color: #e7e5e4;
}

/* CLEAR DELETE BUTTON */

.clear-delete {
  display: flex;
  grid-column: 1/5;

  align-self: center;
  justify-self: center;
  gap: 25px;
}

.clear,
.delete {
  width: 150px;
  height: 50px;

  border: 2px solid #18181b;
  border-radius: 10px;

  font-family: ;
  font-weight: 400;
  font-size: 1rem;
  color: #292524;
  background-color: #f56740;
}
.number-functions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1/5;
  justify-self: center;
  gap: 5px;
}
.number,
.functions {
  border-radius: 5px;
  border: 1px solid #78716c;
  width: 75px;
  height: 80px;
}
