/* FONTS: */

@font-face {
  font-family: "infinity";
  src: url("/fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("/fonts/madeinfinity_personaluse-thin-webfont.woff") format("woff");
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto-condensed-webfont.woff2") format("woff2"),
    url("/fonts/roboto-condensed-webfont.woff") format("woff");
}
@font-face {
  font-family: "dunkin";
  src: url("/fonts/dunkin_bold-webfont.woff2") format("woff2"),
    url("/fonts/dunkin_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "norse";
  src: url("/fonts/norse-bold-webfont.woff2") format("woff2"),
    url("/fonts/norse-bold-webfont.woff") format("woff");
}
/* ############################### */

.calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 70px repeat(3, 100px) 20px;

  width: 350px;
  height: 70%;
  border-radius: 20px;
  border: 2px solid#78716c;

  background-color: #f1f5f9;

  margin: auto;
  padding: 20px;
  gap: 15px;
}

.display-screen {
  grid-column: 1/5;
  width: 95%;
  height: 90%;
  resize: none;

  border-radius: 20px;

  align-self: center;
  justify-self: center;
  background-color: #e7e5e4;
}

/* CLEAR DELETE BUTTON */

.clear-delete {
  display: flex;
  grid-column: 1/5;

  align-self: center;
  justify-self: center;
  gap: 25px;
}

.clear,
.delete {
  width: 150px;
  height: 50px;

  border: 2px solid #18181b;
  border-radius: 10px;

  font-family: "dunkin";
  font-weight: 400;
  font-size: 1rem;
  color: #292524;
  background-color: #f56740;
}
.number-functions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1/5;
  justify-self: center;
  gap: 5px;
}
.number,
.functions {
  border-radius: 5px;
  border: 2px solid #78716c;
  width: 75px;
  height: 80px;

  font-size: 2.1rem;
  font-weight: 900;
  color: #78716c;

  display: flex;
  justify-content: center;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#division,
#multiplications,
#subtraction,
#equal-sign,
#addition,
#point {
  align-self: center;
  font-family: "roboto";
}

#seven-container {
  grid-column: 1;
  grid-row: 1;
}
#eight-container {
  grid-column: 2;
  grid-row: 1;
}
#nine-container {
  grid-column: 3;
  grid-row: 1;
}
#division-container {
  grid-column: 4;
  grid-row: 1;
}

#four-container {
  grid-column: 1;
  grid-row: 2;
}
#five-container {
  grid-column: 2;
  grid-row: 2;
}
#six-container {
  grid-column: 3;
  grid-row: 2;
}
#multiplications-container {
  grid-column: 4;
  grid-row: 2;
}

#one-container {
  grid-column: 1;
  grid-row: 3;
}
#two-container {
  grid-column: 2;
  grid-row: 3;
}
#three-container {
  grid-column: 3;
  grid-row: 3;
}
#substraction-container {
  grid-column: 4;
  grid-row: 3;
}

#point-container {
  grid-column: 1;
  grid-row: 4;
}
#zero-container {
  grid-column: 2;
  grid-row: 4;
}
#equal-sign-container {
  grid-column: 3;
  grid-row: 4;
}
#addition-container {
  grid-column: 4;
  grid-row: 4;
}

.sign {
  font-size: 1.2rem;
  font-family: "infinity";
  text-align: center;
}
